.nav {
    border-bottom: 1.5px solid #6abaef;
}

.nav-item {
    font-family: ''Verdana', sans-serif';
    font-size: 1.5em;
    color: #13284a;
    text-align: center;
}

.social-link {
    margin-top: 50%;
}

.page-title {
    font-family: 'Courgette', cursive;
    font-size: 2.7em;
    font-weight: bold;
    color: #13284a;
    text-align: center;
    margin-top: 30px;
}

ul.nav a:hover { 
    color: #13284a;
    background-color: #6abaef; 
}

.jumbotron {
    border: 2px solid #fcc29a;
    height: 70vh;
    margin-top: 15px;
    background-color: white;
    background-image: url("images/bridge.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.jumbotron-text {
    color: white; 
    font-family: ''Verdana', sans-serif';
    opacity: 1;
    background-color: #13284a;
    padding: 0.4em;
    border-radius: 2%;
    font-size: 0.7em;
    text-align: center;
    line-height: 1.4;
}

.jumbotron-text>strong {
    color: #6abaef;
    font-family: ''Verdana', sans-serif';
}

.jumbotron-text>a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px #13284a;
    font-family: ''Verdana', sans-serif';
}

.jumbotron-text>a:hover {
    font-weight: bold;
    color: #ff7417;
    text-decoration: none;
    text-shadow: 1px 1px #13284a;
    font-family: ''Verdana', sans-serif';
}

footer {
    background-color: #6abaef;
    position:absolute;
    width:100%;
    bottom:0px;
    height: 10vh;
    text-align: right;
    padding-right: 25px;
}
